<div>
    <h2>Pizarra Update</h2>
    <div><label>Mercado
        <select (change)="getPizarra($event.target.value)">
            <option *ngFor="let item of mercadoData" value={{item.id}}>
                {{item.nombre}}
              </option>
        </select>
      </label>
    </div>
    <div>
      <label>Fecha: 
        <input [value]="pizarraData.fecha | date:'yyyy-MM-dd'" placeholder="Precio Soja" type="date" (input)="demoUser.date=parseDate($event.target.value)" />
      </label>
    </div>
    <div>
      <label>Soja: 
        <input [(ngModel)]="pizarraData.soja" placeholder="Precio Soja"/>
      </label>
    </div>
    <div>
      <label>Maiz: 
        <input [(ngModel)]="pizarraData.maiz" placeholder="Precio Maiz"/>
      </label>
    </div>
    <div>
        <label>Trigo:
        <input [(ngModel)]="pizarraData.trigo" placeholder="Precio Trigo"/>
      </label>      
    </div>
    <div>
        <label>Girasol:
        <input [(ngModel)]="pizarraData.girasol" placeholder="Precio Girasol"/>
      </label>      
    </div>
    <div>
        <label>Sorgo:
        <input [(ngModel)]="pizarraData.sorgo" placeholder="Precio Sorgo"/>
      </label>      
    </div>
    <button (click)="onSave()">Grabar</button>
  </div>
