<div>
    <h2>Pizarra Update</h2>        
      <div>  
        <mat-form-field>
        <mat-select   (selectionChange)="getPizarra($event.target.value)" [(ngModel)]="pizarraData.id_mercado"  placeholder="Mercado">
            <mat-option  *ngFor="let item of mercadoData"  [value]="item.id">
                {{item.nombre}}
            </mat-option>
        </mat-select>
      </mat-form-field>      
      </div>   
    
    <div>
      <mat-form-field class="example-full-width">     
        <input matInput [(ngModel)]="pizarraData.fecha" value="{{pizarraData.fecha | date:'yyyy-MM-dd'}}" placeholder="Fecha" type="date"  />      
    </mat-form-field>
    </div>
    <div>
      <mat-form-field>     
        <input matInput [(ngModel)]="pizarraData.soja" placeholder="Precio Soja"/>     
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>            

        <input matInput [(ngModel)]="pizarraData.maiz" placeholder="Precio Maiz"/>      
    </mat-form-field> 
    </div>  
    <div>
       <mat-form-field>

        <input matInput [(ngModel)]="pizarraData.trigo" placeholder="Precio Trigo"/>      
    </mat-form-field>
          </div>
          <div>
    <mat-form-field>

         <input matInput [(ngModel)]="pizarraData.girasol" placeholder="Precio Girasol"/>      
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>       

        <input matInput [(ngModel)]="pizarraData.sorgo" placeholder="Precio Sorgo"/>     
    </mat-form-field>   
    </div>
    <div>
     <button mat-button color="primary" (click)="onSave()">Grabar</button>
    </div>
  </div>
